/*** @export "button-object" css */
/**
 * Button Object
 *
 * 1. Allow us to better style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Stop buttons wrapping and looking broken.
 * 4. Make buttons inherit font styles.
 * 5. Force all elements using beautons to appear clickable.
 * 6. Don’t allow buttons to have underlines; it kinda ruins the illusion.
 */
.btn {
  display: inline-block;                          /* 1 */
  cursor: pointer;                                //5
  text-align: center;
  vertical-align: middle;                         //2
  white-space: nowrap;                            //3
  font: inherit;                                  //4
  text-decoration: none;                          //6
  &,
  &:hover{
    text-decoration: none;                        /* 6 */
  }
  &:active,
  &:focus{
    outline: none;
  }
}

