/**
 * Figures
 *
 * Figures are scoped with $main-type-scope which is set in the base/_typography.scss partial
 */

.#{$main-type-scope} {
  figure {
    margin-bottom: $base-line-height;
    img {
      margin-bottom: $spacer-unit--quarter;
    }
    figcaption {
      display: block;
      font-weight: normal;
      font-size: ms(-1);
      color: $subtle-color--txt;
      font-family: $copy--body-txt;
    }
  }
}

