/**
 * Media
 *
 */ 


/**
 * Images
 * 
 * 1. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
.img {
  vertical-align: middle;                                       /* 1 */
}


/**
 * Fluid Images and Video
 *
 * Apply to img or video elements
 *
 * 1. set this to a multiple of your base-line 
 *    or use the compass vertical rhythm function to maintain vertical rhythm
 */
.fluid-media {
  max-width: 100%;
  height: auto;
  margin-bottom: $base-line-height;                              /* 1 */
}

