/**
 * Alerts
 *
 */


/*** @export "alert-variables" css */
/**
 * Alert Variables
 *
 * Optionally rename alert skin and structure classes
 */

/**
 * Alert Structure Namespace:
 */
$small:                               small;
$large:                               large;

/**
 * Alert Skin Namespace:
 */
$default:                             info;
$positive:                            success;
$negative:                            error;
$warning:                             warning;


/*** @export "alert-structure" css */
/**
 * Alert Structure
 *
 * Extends alert object
 */
.alert_#{$small} {
  padding: $spacer-unit--quarter;
  font-weight: bold;
  font-size: $base-font-size;
  margin: $spacer-unit--half 0;
  border-radius: 4px;
}

.alert__#{$large} {
  padding: $spacer-unit--half;
  font-weight: bold;
  font-size: $base-font-size - 2;
  margin: $spacer-unit--half 0;
  border-radius: 2px;
}


/*** @export "alert-skin" css */
/**
 * Alert Skin 
 *
 */

.alert--default {
  background-color: #999;
  border: 2px solid darken(#999, 15%);
  color: $white;
}

.alert--success {
  background-color: #7FAE00;
  border: 2px solid darken(#7FAE00, 15%); 
  color: $white;
}

.alert--warning {
  background-color: #F68B01;
  border: 2px solid darken(#F68B01, 15%);
  color: $white;
}

.alert--error {
  background-color: #C00000;
  border: 2px solid darken(#C00000, 15%);
  color: $white;
}

