/**
 * Buttons
 * 
 */


/*** @export "button-variables" css */
/**
 * Button Variables
 *
 * 1. optionally rename button skin styles
 */

/* button Structure Namespace: */
$small:                               small;      /* 1 */
$medium:                              medium;     /* 1 */
$large:                               large;      /* 1 */
$touch:                               full;       /* 1 */
/* button Skin Namespace: */
$default:                             default;    /* 1 */
$positive:                            primary;    /* 1 */
$secondary:                           secondary;  /* 1 */
$negative:                            danger;     /* 1 */

/**
 * Button Skin Variables: 
 */

/* Default Button Skin */
$btn__default--color1:                #B3B3B3;
$btn__default--color2:                darken($btn__default--color1, 10%);

/* Positive Button Skin */
$btn__positive--color1:               #5B8737;
$btn__positive--color2:               darken($btn__positive--color1, 10%);

/* Negative Button Skin */
$btn__negative--color1:               #E91C21;
$btn__negative--color2:               darken($btn__negative--color1, 10%);

/* Secondary Button Skin */
$btn__secondary--color1:              white(10%);
$btn__secondary--color2:              darken($btn__secondary--color1, 10%);


/*** @export "button-structure" css */
/**
 * Button Structure
 *
 * Extends button object
 *
 * 6. Normalise box model styles.
 * 7. If the button’s text is 1em, and the button is (3 * font-size) tall, then
 *    there is 1em of space above and below that text. We therefore apply 1em
 *    of space to the left and right, as padding, to keep consistent spacing.
 * 8. Basic cosmetics for default buttons. Change or override at will.
 */

/**
 * Small Button 
 */
.btn__#{$small} {
  font-size: ($base-font-size - 4px);
  padding: 2px 6px; //6
  line-height: $base-line-height;//7
  margin: 0;//6
  border-radius: 3px;//8
}

/**
 * Medium Button 
 */
.btn__#{$medium} {
  font-size: ($base-font-size - 2px);
  padding: 5px 9px; //6
  line-height: $base-line-height;//7
  margin: 5px;//6
  border-radius: 5px;//8
}

/**
 * Large Button 
 */
.btn__#{$large} {
  font-size: ($base-font-size + 2px);
  padding: 9px 14px; //6
  line-height: $base-line-height;//7
  margin: 5px;//6
  border-radius: 7px;//8
}

/**
 * Full Button
 *
 * full screen, block level button style for small screens 
 */
.btn__#{$touch} {
  @extend .btn__#{large};
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


/*** @export "button-skin" css */
/**
 * Button Skin
 *
 */

/**
 * Default Button Skin
 */
.btn--#{$default} {
  background-color: $btn__default--color1;
  color: $white;
  border: 1px solid $strong;
  &:hover {
  background-color: $btn__default--color2;
  }
  &:active,
  &.active {
  background-color: tint($btn__default--color2, 10%);
  }
  &.disabled,
  &[disabled] {
  opacity: 0.6;
  cursor: default;
  }
}

/**
 * Positive Button Skin
 */
.btn--#{$positive} {
  background-color: $btn__positive--color1;
  color: $white;
  border: 1px solid $strong;
  &:hover {
  background-color: $btn__positive--color2; 
  }
  &:active,
  &.active {
  background-color: tint($btn__positive--color2, 10%);
  }
  &.disabled,
  &[disabled] {
  opacity: 0.6;
  cursor: default;
  }
}

/**
 * Negative Button Skin
 */
.btn--#{$negative} {
  background-color: $btn__negative--color1;
  color: $white;
  border: 1px solid $strong;
  &:hover {
  background-color: $btn__negative--color2; 
  }
  &:active,
  &.active {
  background-color: tint($btn__negative--color2, 10%);
  }
  &.disabled,
  &[disabled] {
  opacity: 0.6;
  cursor: default;
  }
}

/**
 * Secondary Button Skin
 */
.btn--#{$secondary} {
  background-color: $btn__secondary--color1;
  color: $white;
  border: 1px solid $strong;
  &:hover {
  background-color: $btn__secondary--color2; 
  }
  &:active,
  &.active {
  background-color: tint($btn__secondary--color2, 10%);
  }
  &.disabled,
  &[disabled] {
  opacity: 0.6;
  cursor: default;
  }
}

