/**
 * Labels
 * 
 */


/*** @export "label-variables" css */
/**
 * Label Variables
 * 
 * 1. optionally rename label skin styles
 */

/* label Structure Namespace: */
$small-label:                         inline;     /* 1 */
$large-label:                         block;      /* 1 */

/* label Skin Namespace: */
$default-label:                       info;       /* 1 */
$positive-label:                      success;    /* 1 */
$negative-label:                      error;      /* 1 */
$warning-label:                       warning;    /* 1 */


/*** @export "label-structure" css */
/**
 * Label Structure
 */
.label--#{$small-label} {
  line-height: $base-line-height;  
  display: inline;
  border-radius: 0px;
  padding: convert-to-em(1px) convert-to-em(4px) convert-to-em(2px);
  font-size: $base-font-size;
  font-weight: bold; 
}

.label--#{$large-label} {
  line-height: $base-line-height;  
  display: inline;
  border-radius: 0px;
  padding: convert-to-em(1px) convert-to-em(4px) convert-to-em(2px);
  font-size: $base-font-size; 
  font-weight: bold; 
}


/*** @export "label-skin" css */
/**
 * Label Skin 
 */
.label--#{$default-label} {
  background-color: $label--default--color-bg;
  color: $white;
  border: none;
}

.label--#{$positive-label} {
  background-color: $label--positive--color-bg;
  color: $white;
  border: none;
}

.label--#{$negative-label} {
  background-color: $label--negative--color-bg;
  color: $white;
  border: none;
}

.label--#{$warning-label} {
  background-color: $label--warning--color-bg;
  color: $white;
  border: none;
}

