/*** @export "spacers" css */
/**
 * Spacers
 * 
 * Add margins, paddings, and unpaddings using consistient spacing units derived from the 
 * vertical rhythm, the grid, or the modular scale
 */


/**
 * Vertically Separated
 *
 * Adds top and bottom margins to container
 */
%vert-margined {
  margin-top: $vert-margined;
  margin-bottom: $vert-margined;
}

/**
 * Vertically Padded
 * 
 * Adds top and bottom padding to container
 */
%vert-padded {
  padding-top: $vert-padded;
  padding-bottom: $vert-padded;
}

/**
 * Top margined
 * 
 * Adds top margin to container
 */
%top-margined {
  margin-top: $top-margined;
}

/**
 * Top Padded
 * 
 * Adds top padding to container
 */
%top-padded {
  padding-top: $top-padded;
}

/**
 * Bottom margined
 * 
 * Adds bottom margin to container
 */
%bottom-margined {
  bottom-margin: $bottom-margined;
}

/**
 * Bottom Padded
 * 
 * Adds bottom padding to container
 */
%bottom-padded {
  bottom-padding: $bottom-padded;
}
/**
 * Side Spacers
 */

/**
 * Margined Container
 * 
 * Adds standard padding unit as side margins
 */
%margined-container {
  margin-left: $margined-container;
  margin-right: $margined-container;
}

/**
 * Padded Container
 * 
 * Adds standard padding unit as side padding
 */
%padded-container {
  padding-left: $padded-container;
  padding-right: $padded-container;
}

/**
 * Extra Padded Container
 * 
 * Adds an extra padding unit as side padding
 */
%extra-padded-container {
  padding-left: $extra-padded-container;
  padding-right: $extra-padded-container;
}

/**
 * Unpadded container
 * 
 * Allows an container to reach the border of a padded container
 */
%full-bleed {
  padding-left: $full-bleed;
  padding-right: $full-bleed;
}

/**
 * Extra Unpadded container
 * 
 * Allows an container to reach the border of an extra padded container
 */
%extra-full-bleed {
  padding-left: $extra-full-bleed;
  padding-right: $extra-full-bleed;
}

