@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot');
  src: url('/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff') format('woff'),
       url('/fonts/fontello.ttf') format('truetype'),
       url('/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: fontello;
  font-style: normal;
  speak: none;

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-th-list-1:before { content: ""; } /* '\e800' */
.icon-th:before { content: "⚏"; } /* '\268f' */
.icon-cog:before { content: "⚙"; } /* '\2699' */
.icon-twitter-bird:before { content: ""; } /* '\f303' */
.icon-github:before { content: ""; } /* '\f308' */
