/**
 * Archetype-Layout
 * 
 */

/**
 * Grid
 * 
 */
 
/**
 * grid variables
 */
$gutter: 25px;
$unit-padding: 10px;
$grid-row-spacer: 0;
 
/**
 * Grid Rows and Units
 */
%grid-row {
  @include pie-clearfix;
  padding: 0 $gutter;  // outside padding
  margin-bottom: $grid-row-spacer;
}
 
%grid-unit {
  float:left; 
  padding: $unit-padding 0 $unit-padding $unit-padding;
  &:last-of-type {
    padding-right: 0;
  }
}
 
%grid-unit-right {
  float:right;
}

/**
 * Widths
 * 
 * Intrisic and proportional widths to be extended to a grid object
 *
 */
 
 
/**
 * Intrinsic widths
 * 
 */
 
 
/**
 * Fit Children
 *
 * Make an element shrink wrap its content.
 */
%size-fit-children {
    display: block;
    float: left;
    width: auto !important;
}
 
/**
 * Fit Parent
 *
 * Make an element the width of its parent.
 */
%size-fit-parent {
    display: block;
    width: 100%;
}
 
/**
 * Make an element fill the remaining space.
 * 
 * Note: This will hide overflow.
 */
%size-fill {
    display: block;
    overflow: hidden;
    width: auto !important;
}
 
/**
 * Proportional widths
 * 
 * Grid unit extenders - specify the proportional width of a grid unit
 */
 
%size1of1 { width: 100%; }
%size1of2,
%size2of4,
%size3of6,
%size5of10,
%size6of12 { width: 50%; }
%size1of3,
%size2of6,
%size4of8,
%size4of12 { width: 33.33333%; }
%size1of4,
%size2of8,
%size3of12 { width: 25%; }
%size1of5,
%size2of10 { width: 20%; }
%size1of6,
%size2of12 { width: 16.6666666%; }
%size1of7 { width: 14.2857143%; }
%size1of8 { width: 12.5%; }
%size1of10 { width: 10%; }
%size1of12 { width: 8.333%; }
 
%size2of3,
%size4of6 { width: 66.66666%; }
%size2of5 { width: 40%; }
%size2of7 { width: 28.5714286%; }
 
%size3of4,
%size6of8 { width: 75%; }
%size3of5 { width: 60%; }
%size3of7 { width: 42.8571429%; }
%size3of8 { width: 37.5%; }
%size3of10 { width: 30%; }
 
%size4of5 { width: 80%; }
%size4of7 { width: 57.1428572%; }
%size4of10 { width: 40%; }
 
%size5of6 { width: 83.3333333%; }
%size5of7 { width: 71.4285715%; }
%size5of8 { width: 62.5%; }
%size5of12 { width: 41.666%; }
 
%size6of7 { width: 85.7142858%; }
%size6of10 { width: 60%; }
 
%size7of8 { width: 87.5%; }
%size7of10 { width: 70%; }
%size7of12 { width: 58.333%; }



/* Demo classes */

.size1of1{@extend %size1of1;}
.size1of2{@extend %size1of2;}
.size1of3{@extend %size1of3;}
.size1of4{@extend %size1of4;}
.size1of5{@extend %size1of5;}
.size1of6{@extend %size1of6;}
.size1of7{@extend %size1of7;}
.size1of8{@extend %size1of8;}

.size2of3{@extend %size2of3;}
.size2of4{@extend %size1of2;}
.size2of5{@extend %size2of5;}
.size2of6{@extend %size1of3;}
.size2of7{@extend %size2of7;}
.size2of8{@extend %size1of4;}

.size3of4{@extend %size3of4;}
.size3of5{@extend %size3of5;}
.size3of6{@extend %size1of2;}
.size3of7{@extend %size3of7;}
.size3of8{@extend %size3of8;}

.size4of5{@extend %size4of5;}
.size4of6{@extend %size2of3;}
.size4of7{@extend %size4of7;}
.size4of8{@extend %size1of2;}

.size5of6{@extend %size5of6;}
.size5of7{@extend %size5of7;}
.size5of8{@extend %size5of8;}

.size6of7{@extend %size6of7;}
.size6of8{@extend %size3of4;}

.size7of8{@extend %size7of8;}




/**
 * Header
 */
.header {@extend %grid-row;}
.main-nav {
  @extend %grid-unit;
  @extend %size1of1;
  background: #666666;
}

/**
 * Body
 */
.container {
  @extend %grid-row;
}

/** 
 * Navigation
 */
/* nav object */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  @include pie-clearfix;
    & > li > a { 
      display: inline-block; 
    }        
}

.nav--slide {
  margin-left: -100%;
  @extend %grid-unit;
  @extend %size1of5;
  background: #E5E5E5;
}
.nav--slide.is-active {
  margin-left: 0;
  margin-top: 1em;
}

.menu-link {color: green;}
.menu-link.is-active {color: red;}

/**
 * Main Section
 */
.page {
  @extend %grid-unit;
  @extend %size1of1;
}
.page.is-slide {
  @extend %size4of5;
}
