/**
 * Singularity Grid
 * 
 * https://github.com/Team-Sass/Singularity
 * http://singularity.gs
 */

@import "singularitygs";

/**
 * Breakpoint settings:
 */
$breakpoint-no-query-fallbacks:             true;
$breakpoint-to-ems:                         true;
$breakpoints:                               '6 columns' 30em,
                                            '8 columns' 40em,
                                            '12 columns' 50em;

/**
 * Singularity Settings
 * 
 * 1. Can be a number or a list of non-uniform column widths
 * 2. Must be of the same unit type of defined columns
 * 3. Grid padding can be any type of unit
 * 4. Layout direction - ltr, rtl, or both
 * 5. Choose a selector for rtl layouts when using 'both'
 */
$columns:                                   12;                   /* 1 */
$gutter:                                    0.25;                 /* 2 */
$padding:                                   0;                    /* 3 */
$dir:                                       ltr;                  /* 4 */
$rtl-selector:                              '[dir="rtl"]';        /* 5 */
$grids-mobile-first:                        true;

/** 
 * Container
 */
$output:                                    "float";
$container:                                 100%;
$container-to-ems:                          true;
$background-grid-color:                     lighten(purple, 50%);


/**
 * Grids
 */
$grids: 4;
$grids: add-grid(6 at 30em);
$grids: add-grid(8 at 40em);
$grids: add-grid(12 at 50em);

/**
 * Gutters
 */
$gutters: 1/3;
$gutters: add-gutter(.25 at 50em);


