/*** @export "colorkit" css */
/**
 * Color Pallet
 * 
 * global color settings
 */

/**
 * Import Colorkit
 * 
 */
@import "colorkit";

/**
 * Color Scheme
 * 
 * Generate harmonious color scheme based on a single key-color ($base-color)
 *
 * $base-color: any CSS color value or keyword
 * $color-relationship: monochromatic/complementary/spit-complementary/analogous/triadic/tetradic/quadradic
 * $color-angle: (defaults to 30)
 */
$color-relationship: double-complementary;
$base-color: red;
@include color-scheme($color-relationship, $base-color);

/**
 * Black and White
 */
$white:                             white(0);
$black:                             black(0);

/**
 * Shadow and Highlight
 */
$highlight-color:                   alpha-white(.5)!default;
$shadow-color:                      alpha-black(.2) !default;

/**
 * Semantic Utilities
 *
 * utility color variables to extend with semantic variable names
 */
$strong:                            black(20%) !default;
$subtle:                            black(60%) !default;
$muted:                             black(70%) !default;
$accent:                            $blue-green--tint-2;

/**
 * Text Colors
 */
$strong-color--txt:                 $strong;
$subtle-color--txt:                 $subtle;
$muted-color--txt:                  $muted;
$accent-color--txt:                 $blue-green--tint-6;

/**
 * Background Colors
 */
$strong-color--bg:                  $strong;
$subtle-color--bg:                  $subtle;
$muted-color--bg:                   $muted;

/**
 * Brand Colors
 *
 * prefixed with '$brand-' to avoid proper color names for ease of use and to avoid collision with CSS color keywords
 * ex: $brand-blue: deepskyblue; or: $brand-accent: tint($brand-blue, 12%);
 */

/**
 * ex:
 * $brand-blue:;
 * $brand-primary:;
 * $brand-secondary:;
 * $brand-accent:;
 */

/**
 * UI and State Colors
 *
 */
$primary-color:                     $blue-green--tone-2 !default;
$secondary-color:                   $blue-green--tone-4 !default;
$tertiary-color:                    $blue-green--shade-2 !default; 
$accent-color:                      $accent;

$warning-color:                     $red-orange--tint-2 !default;
$warning-color--txt:                tint($warning-color, 25%);
$warning-color--bg:                 $warning-color;
$warning-color--border:             darken(adjust-hue($warning-color, -10), 3%) !default;

$error-color:                       $red--tint-2 !default;
$error-color--txt:                  tint($error-color, 25%);
$error-color--bg:                   $error-color;
$error-color--border:               darken(adjust-hue($error-color, -10), 3%) !default;

$success-color:                     $green--tint-2 !default;
$success-color--txt:                tint($success-color, 25%);
$success-color--bg:                 $success-color;
$success-color--border:             darken(adjust-hue($success-color, -10), 5%) !default;

$info-color:                        $blue-green--tint-2 !default;
$info-color--txt:                   tint($info-color, 25%);
$info-color--bg:                    $info-color;
$info-color--border:                darken(adjust-hue($info-color, -10), 7%) !default;

/**
 * Label Colors
 */
$label--default--color-bg:          $info-color--bg;
$label--positive--color-bg:         $success-color--bg;
$label--negative--color-bg:         $error-color--bg;
$label--warning--color-bg:          $warning-color--bg;


