/*** @export "page" css */
/**
 * Page
 *
 * 1. Sets default font family to $body-font - defined in _settings.scss partial
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom.
 * 3. Removes default margin
 * 
 */

html {
  font-family: $copy--body-font;                          /* 1 */
  -webkit-text-size-adjust: 100%;                         /* 2 */
  -ms-text-size-adjust: 100%;                             /* 2 */
  overflow-y: scroll;
  min-height: 100%;
}

body {
  color: $copy--body-color-txt;
  background: $copy--body-color-bg;
  font-family: $copy--body-txt;
  font-weight: normal;
  margin: 0;                                              /* 3 */
  padding: 0;
  width: 100%;
  min-height: 100%;
}

