/*** @export "structure-units" css */
/**
 * Structure Units
 * 
 */


/**
 * Spacers
 */
$spacer-unit:                             $base-font-size;

$spacer-unit--half:                       $spacer-unit / 2;
$spacer-unit--third:                      $spacer-unit / 3;
$spacer-unit--quarter:                    $spacer-unit / 4;
$spacer-unit--double:                     $spacer-unit * 2;
$spacer-unit--media:                      $spacer-unit--half;


$vert-margined:                             $spacer-unit;
$vert-padded:                               $spacer-unit;
$top-margined:                              $spacer-unit;
$top-padded:                                $spacer-unit;
$bottom-margined:                           $spacer-unit;
$bottom-padded:                             $spacer-unit;
$margined-container:                        $spacer-unit;
$padded-container:                          $spacer-unit;
$extra-padded-container:                    $spacer-unit--double;
$full-bleed:                                $spacer-unit * -1;
$extra-full-bleed:                          $spacer-unit * -2;

